%h2 Your own gadgets (#{@gadgets.count})

= form_tag gadgets_path, method: :get do
  = text_field_tag :search, params[:search], placeholder: 'Gadget name'
  = submit_tag 'Search'

%ul#gadgets
  - @gadgets.each do |gadget|
    %li
      = gadget.name
      = link_to 'delete', gadget_path(gadget), :confirm => 'Are you sure?', :method => :delete
